@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('../fonts/MyriadPro-Regular.ttf') format('truetype');
  font-style: normal;
}


body {
	margin: 0;
	padding: 0;
	font-family: 'MyriadPro-Regular';
}

ul, li, p, h1 {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
.container {
	width: 1280px;
	margin: 0 auto;
}
.logo-link {
	font-size: 80px;
	text-decoration: none;
	color: #000;
	display: block;
	padding-top: 61px;
}
.logo-link span {
	color:  #4bcaff;
}
nav {
	background-color:  #35444f;
	height: 69px;
	margin-top: 45px;
}
.nav-list {
	text-align: center;
}
.nav-item {
	display: inline-block;
}
.nav-link {
	font-size: 24px;
	color: #fff;
	line-height: 69px;
	padding: 0 33px;
}
.nav-item:hover {
	background-color:  #222f3a;
	border-left: 1px solid #818181;
	border-right: 1px solid #818181;
}
main {
	margin-top: 51px;
}
.main-menu {
	width: 334px;
	border: 1px solid #000;
	float: left;
}
.main-item {
	height: 75px;
	padding-top: 30px;
	box-sizing: border-box;
}
.main-link {
	color:  #485863;
	font-size: 27px;
	text-transform: capitalize;
	padding-left: 30px;
}
.main-link:hover {
	color: #000;
}
.main-item:hover {
	background-color: #b4b7ba;
	color: #000;
	padding-left: 50px;
}
.main-img {
	width: 885px;
	height: 529px;
	border: 1px solid #000;
	float: right;
}
.main-img_logo {
	text-align: center;
	margin-top: 10%;
}

/*увеличение картинки при наведении*/
.main-img_img:hover {
	transform: scale(1.1);
  	-webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transition: all 1s ease-in-out;
}
.main-content {
	width: 885px;
	float: right;
	margin-bottom: 50px;
}
.main-content_p {
	padding-top: 40px;
	padding-left: 20px;
	color:  #2c2b2b;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}
.clear {
	clear: both;
}
footer {
	height: 69px;
	background-color: #b4b7ba;
	position: relative;
}
.footer-list {
	padding-left: 30px;
}
.footer-item {
	display: inline-block;
}
.footer-link {
	font-size: 28px;
	color:  #0c1927;
	line-height: 69px;
	padding: 0 10px;
}
.footer-link:hover {
	color:  #3181a6;
	text-decoration: underline;
}
.footer-copy {
	color:  #010000;
	font-size: 24px;
	float: right;
	position: absolute;
	bottom: 21px;
	right: 25px;
}
