body {
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
    font-family: 'Teko', sans-serif;
    font-size: 100px;
}
.fade {
  position: relative;
  width: 100%;
  min-height: 60vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
}
.section {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    color: #feda4a;
    letter-spacing: 6px;
    perspective: 600px;
    text-align: justify;
    line-height: 2;
}
.animation h1, h2 {
    text-transform: uppercase;
    text-align: center;
}
.animation h1, h2, p {
    color: #FFFF00;
 }
.animation {
    position: relative;
    top: 99999px;
    transform-origin: 50% 100%;
    animation: motion 30s infinite linear;  
}


@keyframes motion {
    0% { 
    top: -100px;
    transform: rotateX(25deg) translateZ(0);
   }
   100% {
    top: -6000px;
    transform: rotateX(30deg) translateZ(-2500px);
   }
}
