body {
    font-family: 'Roboto', sans-serif;
    color: #424f57;
    width: 1400px;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/bg1.jpg) no-repeat top / cover;
    height: 596px;
    position: relative;
    overflow: hidden;
    transform: translate3d(0px, 0px, 0px);
}

header::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 700px solid #fff;
    border-right: 700px solid #fff;
    border-top: 100px solid transparent;
}

.header {
    background: #fff;
    margin-top: 25px;
}

.container {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
}

.nav {
    padding-top: 50px;
    float: right;
}

.header-logo {
    font-size: 36px;
    font-weight: 300;
    text-transform: capitalize;
    float: left;
    padding: 38px 0 38px 0;

}

.header-logo span {
    text-transform: uppercase;
    font-weight: 900;
}

.blue {
    color: #14afca;
}

.nav-list {
    display: inline-block;
}

.nav-item {
    display: inline-block;
    text-transform: uppercase;
    padding-left: 40px;

}

.nav-item a {
    color: #3e4b4e;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.nav-item a:hover {
    color: #14afca;
}

.clearfix {
    clear: both;
}

.header-text {
    font-size: 52px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 173px;


}

.what-title {
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 108px;
}

.what-titles {
    font-family: OpenSans, sans-serif;
    color: #424f57;
    font-size: 18px;
    font-weight: 600;
    padding-top: 27px;
}

.what-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    padding-top: 42px;
    padding-bottom: 101px;
}

.companies {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../img/bg2.jpg) no-repeat top / cover;
    height: 715px;
    position: relative;
    overflow: hidden;
}

.companies::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 700px solid #fff;
    border-right: 700px solid #fff;
    border-top: 100px solid transparent;
}

.companies::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 700px solid transparent;
    border-right: 700px solid transparent;
    border-top: 80px solid #fff;
}

.white {
    color: #fff;
}

.companies-logo {
    padding-top: 49px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 96px);
    grid-row-gap: 100px;
    align-items: center;
}

.meet-photos {
    display: flex;
    justify-content: space-between;
    margin-top: 47px;
}

.meet-photos img {
    height: 206px;
}

.meet-photos-text {
    width: 279px;
    font-size: 15px;
    line-height: 28px;
    padding-top: 27px;
    text-align: center;
}

.testimonials {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/bg3.jpg) no-repeat top / cover;
    height: 577px;
    position: relative;
    overflow: hidden;
}

.testimonials::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 700px solid #fff;
    border-right: 700px solid #fff;
    border-top: 100px solid transparent;
}

.testimonials::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 0;
    height: 0;
    border-left: 700px solid transparent;
    border-right: 700px solid transparent;
    border-top: 80px solid #fff;
}

.testimonials-title {
    padding-top: 200px;
}

.testimonials-text {
    font-family: OpenSans;
    color: #d3cccc;
    font-size: 16px;
    font-style: italic;
    line-height: 28px;
    text-align: center;
    padding-top: 43px;
}

.testimonials-caption {
    font-family: OpenSans;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    padding-top: 25px;
    padding-left: 480px;
}

.why {
    width: 780px;
    margin: 0 auto;
    text-align: center;
}

.why-text {
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    padding-top: 55px;
}

.footer {
    width: 368px;
    margin: 0 auto;
    text-align: center;
    font-family: OpenSans;
    color: #3d3c3c;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 113px;
    padding-bottom: 104px;
}

.dark {
    font-size: 16px;
    font-weight: 700;
}