@font-face {
    font-family: 'Verdana-reg';
    src: url('../fonts/Verdana-reg.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Verdana-bold';
    src: url('../fonts/Verdana-bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

body {
    font-family: 'Verdana-reg', Arial, sans-serif;
}

.wrap {
    background: url(../img/bg.png) no-repeat center top / cover;
    width: 100%;
    height: 768px;
}

.container {
    width: 1215px;
    margin: 0 auto;
}

.header {
    padding-top: 20px;
    height: 54px;
    background: rgba(0, 0, 0, 0.5);
}
.container {
    width: 1215px;
    height: 100%;
    margin: 0 auto;
}

.header-logo {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    float: left;
    padding-left: 81px;
}

.header-nav {
    padding-left: 735px;
}

.header-nav-li {
    display: inline-block;
    float: left;
    margin-right: 28px;
}

.sprite1 {
    background-image: url(../img/sprite.png);
    background-position: 0px -20px;
    width: 19px;
    height: 19px;
}

.sprite2 {
    background-image: url(../img/sprite.png);
    background-position: 0px 0px;
    width: 28px;
    height: 20px;
}

.sprite3 {
    background-image: url(../img/sprite.png);
    background-position: -28px 0px;
    width: 20px;
    height: 20px;
}

.header-velcome {
    float: left;
    padding-left: 28px;
    color: #fff;
    font-size: 14px;
}

.header-link {
    color: #3cb878;
}
.header-link:hover {
    text-decoration: underline;
}

.clearfix {
    clear: both;
}

.main {
    width: 444px;
    height: 584px;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    margin: auto auto;
    background-color: #fff;
    border-radius: 3px;
    margin: auto;
    position: absolute;
    top: 20%;
    left: 32%;
}
.shape {
    width: 17px;
    height: 17px;
    background-color: #3cb878;
    position: relative;
    top: 50px;
    left: 0;
}

.main-form {
    width: 322px;
    margin: 0 auto;
}

.main-form-sign {
    color: #434343;
    font-size: 20px;
    text-transform: capitalize;
    float: left;
    padding-top: 26px;
}

.main-form-log {
    color: #3cb878;
    font-size: 14px;
    text-transform: capitalize;
    float: right;
    padding-top: 33px;
}

.main-btn-fb,
.main-btn-google {
    border-radius: 3px;
    width: 157px;
    height: 46px;
    color: #fff;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0;
    vertical-align: middle;
}

.main-btn-fb {
    background-color: #305db8;
}
.main-btn-fb:hover {
    background-color: #00BFFF;
}
.main-btn-fb:active, .main-btn-fb:focus {
    outline: none;
}

.main-btn-google {
    background-color: #df4a32;
}
.main-btn-google:hover {
    background-color: #FF6347;
}
.main-btn-google:active, .main-btn-google:focus {
    outline: none;
}

.fb-icon {
    background: url('../img/fb.png') no-repeat;
    width: 27px;
    height: 20px;
    display: inline-block;
    margin-left: -20px;
    border-right: 1px solid #2b54a5;
    vertical-align: middle;
}

.google-icon {
    background: url('../img/G+.png') no-repeat;
    width: 34px;
    height: 20px;
    display: inline-block;
    margin-left: -30px;
    border-right: 1px solid #c8422d;
    vertical-align: middle;
}

.main-form-or {
    text-align: center;
    padding-top: 33px;
    overflow: hidden;
    color: #848484;
    font-size: 14px;
    padding-bottom: 18px;
}

/*линия вокруг ор, в форме*/
.main-form-or:before,
.main-form-or:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    height: 1px;
    background: #eaeaea;
    border: solid #FFF;
    border-width: 0 10px;
}

.main-form-or:before {
    margin-left: -100%;
}

.main-form-or:after {
    margin-right: -100%;
}

.main-form-name {
    border-radius: 3px;
    border: 1px solid #eaeaea;
    width: 322px;
    height: 45px;
    margin-bottom: 9px;
    color: #bebebe;
    font-size: 14px;
    padding-left: 17px;
    text-transform: capitalize;
}

.main-form-name:focus {
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    width: 322px;
    height: 46px;
    color: #434343;
}

label {
    display: block;
    margin-top: 11px;
}

.label {
    color: #434343;
    font-size: 14px;
}

.label span {
    color: #3cb878;
}

/* Скрываем реальный чекбокс */
.checkbox {
    display: none;
}

/* внешний вид  чекбокса*/
.checkbox-custom {
    position: relative;
    /* Обязательно, чтобы позиционировать псевдоэлемент внютри чекбокса */
    width: 20px;
    /* Обязательно */
    height: 20px;
    /* Обязательно */
    border: 1px solid #eaeaea;
}

/* центрируем по вертикали display: inline-block обязательно должно быть */
.checkbox-custom,
.label {
    display: inline-block;
    vertical-align: middle;
}

/* Если реальный чекбокс у нас отмечен, то тогда добавляем данный признак и к нашему кастомному чекбоксу  */
.checkbox:checked+.checkbox-custom::before {
    content: "";
    display: block;
    position: absolute;
    /* Задаем расстояние от верхней, правой, нижней и левой границы */
    top: 4px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background: url(../img/checkbox.png) no-repeat; /* Добавляем фон в виде "галочки", которая будет символизировать, что чекбокс отмечен */
}

.main-btn-create {
    width: 322px;
    height: 46px;
    background: #3cb878;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
    text-transform: capitalize;
    cursor: pointer;
}
.main-btn-create:active, .main-btn-create:focus {
    outline: none;
}