.container {
  margin: 200px auto;
  width: 400px;
  height: 400px;
}
h1 {
  font-size: 4em;
  padding-left: 25px;
}
button {
  font-size: 30px;
  width: 140px;
  height: 60px;
  border-radius: 10px;
  outline: none;
  color: #fff;
}
button:focus {
  outline: none;
}
#startPause {
  background-color: #7CFC00;
  border-color:  #7CFC00;
}
#controls {
  width: 310px;
  height: 70px;
}