body {
    font-family: 'Arimo', sans-serif;
}

p {
    margin: 0;
}

.bg {
    width: 1192px;
    height: 736px;
    background-color: #3a4965;
    margin: 0 auto;
    padding-top: 23px;
}

.table {
    width: 1140px;
    height: 680px;
    margin: 0 auto;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 16px;
    border-collapse: collapse;
    /*убирает отступы у ячеек и строк*/
    color: #484848;
}

.table tr {
    height: 70px;
}

.table td {
    width: 25%;
    border-right: 1px solid #cfcfcf;

}

.table td:last-child {
    border-right: 0;
}

.table-price td {
    border: none;
}

.first {
    color: #484848;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
}

.first-span {
    font-size: 30px;
    font-weight: 700;
}

.stand {
    background-color: #89c331;
}

.stand,
.ultim,
.prem {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.ultim {
    background-color: #f04a56;
}

.prem {
    background-color: #20807c;
}

.price {
    font-size: 60px;
    font-weight: 700;
    text-align: right;
    width: 50%;
}

.price-right {
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    width: 50%;
}

.price-text {
    font-size: 18px;
    color: #484848;
    font-weight: 300;
}

tr {
    text-align: center;
}

.white {
    background-color: #fafafa;
}

.grey {
    background-color: #f2f2f2;
}

.dark {
    background-color: #e3e3e3;
}

.button {
    background-color: #f4f4f4;
}

.button-cont {
    background-color: #dddddd;
}

.btn-cont,
.btn-green,
.btn-red,
.btn-blue {
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 190px;
    height: 48px;
    text-transform: uppercase;
    margin: 30px 0;
    font-weight: 700;
    cursor: pointer;
}

.btn-cont {
    background-color: #484848;
    border-bottom: 7px solid #404040;
}

.btn-green {
    background-color: #89c331;
    border-bottom: 7px solid #79b027;
}

.btn-red {
    background-color: #f04a56;
    border-bottom: 7px solid #df3a46;
}

.btn-blue {
    background-color: #20807c;
    border-bottom: 7px solid #16736f;
}
.btn-cont:hover,
.btn-green:hover,
.btn-red:hover,
.btn-blue:hover {
    transform: skew(-20deg);
}

.btn-cont:focus,
.btn-green:focus,
.btn-red:focus,
.btn-blue:focus {
    outline: none;
}

.icon-grey {
    color: #848484;
}

.icon {
    margin-right: 10px;
    width: 20px;
    height: 16px;
}
