@font-face {
  font-family: 'Verdana-reg';
  src: url('../fonts/Verdana-reg.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Verdana-bold';
  src: url('../fonts/Verdana-bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Verdana-reg', Arial, sans-serif;
}

.section {
    width: 1366px;
    height: 768px;
    background: url(../img/background.png) no-repeat center;
    background-size: cover;
}
.container {
    width: 1063px;
    margin: 0 auto;
}
.header {
    padding-top: 56px;
    display: flex;
    justify-content: space-between
}
.header-logo {
    width: 151px;
}
.header-logo_link {
    color: #fff;

    text-transform: uppercase;
    font-size: 29px;
    font-weight: 700;
    padding-left: 57px;
    line-height: 23px;
    display: block;
    background: url(../img/logo.png) no-repeat;
}

.header-logo_link:hover {
    background: url(../img/logo1.png) no-repeat;
    color: #f26522;
}
.header-logo_link span {
    font-size: 18px;

}
.header-cont {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    width: 243px;
    margin-top: 5px;
    }
.main {
display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 40px;
}
.main-box {
    width: 307px;
}
.main-box:nth-child(3), .main-box:nth-child(6) {
    padding-right: 0;
}
.slide {
    position: relative;
    width: 307px;
    height: 201px;

}
/*блок который будет появляться*/
.main-box_slide {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 307px;
    height: 62px;
    background-color: #f26522;
    bottom: 0px;
    opacity: 0;
    transition: all 1s;

}
.slide:hover .main-box_slide {
    opacity: 1;
    bottom: 0;
}
.slide-price {
    font-size: 10px;
    color: #fff;
    width: 38px;
    padding-left: 21px;
    padding-top: 13px;
}
.slide-price span {
    font-size: 20px;
}
.slide-view {
    font-size: 14px;
    color: #fff;
    padding-top: 32px;
    width: 116px;
}
.slide-view:after {
    content: ' ';
    display: block;
    background: url(../img/arrow.png);
    width: 7px;
    height: 10px;
    position: relative;
    left: 91px;
    bottom: 12px;
}

.main-box_img {
    border: 1px solid #fff;
    width: 307px;
    height: 201px;
    display: block;
    box-sizing: border-box;
}
.padding {
    padding-right: 0;
}
.main-box_title {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 18px;
    padding-top: 13px;
    text-transform: capitalize;
}
.main-box_title:hover {
    color: #f26522;
}

.main-box_two {
    padding-top: 58px;
}
.footer {
    padding-top: 55px;
    padding-bottom: 20px;
}
.footer-copy {
    font-size: 12px;
    color: #fff;
    text-align: center;
}


