body {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
}

.header {
    background: url(../img/bg1.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 900px;
}

.header-content {
    padding-top: 530px;
    padding-left: 86px;
    color: #fff;
}

.header-title {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
}

.header-text {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}

.header-design {
    text-transform: uppercase;
    font-size: 54px;
    font-weight: 700;
    width: 831px;
    height: 129px;
    border: 1px solid #fff;
    margin-top: 28px;
    display: flex;
}

.header-design-right {
    color: #f1ad1d;
    background-color: #fff;
    display: inline-block;
    width: 152px;
    height: 129px;
    text-align: center;
    padding-top: 31px;
}

.main {
    text-align: center;
    color: #fff;
}

.header-design-left {
    display: inline-block;
    height: 129px;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    padding-top: 31px;
    padding-left: 26px;
}

.about-title {
    margin-top: 112px;
    color: #333;
}

.about-text {
    font-size: 17px;
    color: #4d4943;
    margin-top: 35px;
    padding-bottom: 52px;
    font-family: Lato;
}

.line {
    background-color: #f1ad1d;
    width: 60px;
    height: 3px;
    border: none;
    margin: 0 auto;
}

.ideas {
    background: url(../img/bg2.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 380px;
    margin-top: 135px;
}

.ideas-title {
    padding-top: 150px;
    margin-bottom: 60px;
}

.yellow {
    color: #f1ad1d;
}

.featured {
    background: url(../img/bg3.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 475px;
    margin-top: 135px;
}

.featured-titlle {
    padding-top: 174px;
    margin-bottom: 60px;
}

.featured-img {
    height: 52px;
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: 0 auto;
    margin-top: 58px;
}

.check {
    background: url(../img/bg4.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 475px;
    margin-top: 122px;
}

.check-title {
    padding-top: 130px;
    margin-bottom: 60px;
}

.check-text,
.check-text-yellow {
    font-family: OpenSans;
    font-size: 18px;
    font-weight: 400;
}

.check-text {
     margin-top: 60px;
}

.check-text-yellow {
    margin-bottom: 44px;
}

.line-white {
    background-color: #ffffff;
    width: 281px;
    height: 3px;
    border: none;
    margin: 0 auto;
}