body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.08em;
	color:  #373737;
	width: 1280px;
}

ul, li, p, h1 {
	padding: 0;
	margin: 0;
}

.nav ul {
	padding: 43px 362px 35px 282px;
}

.nav li {
	display: inline;
	margin-left: 65px;
}

.nav ul li a {
	text-decoration: none;
	color:  #16a085;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 900;
}

.photo {
	background: #fff url(../img/top-img.png) center no-repeat;
	background-size: cover;
	height: 790px;
}

.main {
	background-color: #f5f6f7;
}

.container {
	width: 1059px;
	margin: 0 auto;
}

.main-content h1 {
	padding-top: 47px;
	text-align: center;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 900;
}

.main-content p {
	text-align: center;
	font-size: 16px;
	font-weight: 900;
	line-height: 26px;
	padding-top: 20px;

}

.main-btn {
	padding-top: 70px;
	padding-bottom: 93px;
}

.main-btn button {
	width: 192px;
	height: 51px;
	text-transform: uppercase;
	border-radius: 3px;
	background-color:  #16a085;
	color: #fff;
	font-size: 12px;
	letter-spacing: 0.08em;
	font-weight: 700;
	border: none;
	display: block;
	margin: 0 auto;
	cursor: pointer;
}
footer {
	height: 110px;
}
footer p {
	padding-top: 43px;
	font-size: 16px;
	font-weight: 900;
	text-align: right;
	
}